<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Designer Web Hosting is all about making your interaction with the Internet easier and more fruitful. Our aim is to help you use the web as an addional tool to your work, not just another job to do. " />
    <link rel="canonical" href="/" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" />

</head>


    <body>

 {{ content }}


    </body>
</html>